@model MVCProductsChallenge.UI.ViewModels.HomeViewModels.IndexViewModel

<button class="btn btn-primary" data->
    Add product
</button>

@if (Model.Products.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Description</th>
                <th>Product type</th>
                <th>Product status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                @Html.Partial("ProductRow", product)
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center">There are no products yet</p>
}
