@model MVCProductsChallenge.UI.ViewModels.HomeViewModels.IndexViewModel

<div class="row mb-5">
    <div class="col-md-6">
        <button type="button" id="addProductButton" class="btn btn-primary" data-url="@Url.Action("CreateProduct", "Home")">
            Add product <span class="fa fa-plus"></span>
        </button>
    </div>
    <div class="col-md-6">
        <h2>Search for products</h2>

        <div class="form-group">
            @Html.TextBox("identifier", null, new { id = "identifier", @class = "form-control", placeholder = "Identifier" })
        </div>
        <div class="form-group">
            @Html.TextBox("description", null, new { id = "description", @class = "form-control", placeholder = "Description" })
        </div>
        <button type="button" class="btn btn-primary" id="searchProduct" data-url="">
            Search <span class="fa fa-search"></span>
        </button>
    </div>
</div>

@if (Model.Products.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Description</th>
                <th>Product type</th>
                <th>Product status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                @Html.Partial("ProductRow", product)
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center">There are no products yet</p>
}

@section scripts{
    <script src="~/Scripts/app/home/index.js"></script>
}