@model ProductType
@{
    string editUrl = @Url.Action("EditProductType", "ProductType") + "?productTypeId=" + Model.Id.ToString();
}

<tr>
    <td>@Model.Name</td>
    <td>
        <button type="button" class="btn btn-warning update" title="Edit" data-url="@editUrl">
            <span class="fa fa-pencil"></span>
        </button>
    </td>
</tr>
