@{
    var message = (Message)TempData["Message"];

    string title = string.Empty;
    string body = string.Empty;

    if (message != null)
    {
        title = message.Title;
        body = message.Body;
    }
}

@if (message != null)
{
    <div id="messageInfo" data-title="@title" data-body="@body"></div>
}

<div class="row mb-5">
    <div class="col">
        <button type="button" id="addProductTypeButton" class="btn btn-primary" data-url="@Url.Action("CreateProductType", "ProductType")">
            Add product <span class="fa fa-plus"></span>
        </button>
    </div>
</div>

@Html.Partial("ProductTypesTable", (IList<ProductType>)ViewBag.ProductTypes)

@section scripts{
    <script src="~/Scripts/app/product-type/index.js"></script>
}