<div class="row mb-5">
    <div class="col">
        <button type="button" id="addProductTypeButton" class="btn btn-primary" data-url="@Url.Action("CreateProductType", "ProductType")">
            Add product <span class="fa fa-plus"></span>
        </button>
    </div>
</div>

@Html.Partial("ProductTypesTable", (IList<ProductType>)ViewBag.ProductTypes)

@section scripts{
    <script src="~/Scripts/app/product-type/index.js"></script>
}